# Dependency directories
node_modules/
jspm_packages/

# Next.js build outputs
.next/
out/

# NestJS build outputs
dist/
build/
*.tsbuildinfo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.workspace

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
